@import "tailwindcss";

@font-face {
  font-family: cabinet;
  src: url('../assets/fonts/CabinetGrotesk-Regular.ttf');
}

@font-face {
  font-family: clash;
  src: url('../assets/fonts/ClashDisplay-Regular.otf');
}